# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
requirements.lock

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Data (raw & derived)
data/raw/*
data/derived/*

# Figures (generated)
figures/*
